h1 {color: black;
}
h2{color: black;
}
h3{color: black;
}
h1{text-align: center;
}

body{font-size: large;}
.img{height: 400px;
    width: 1300px;
  } 
  h3{font-size: larger;}
 
h3{margin-left: 70%;}
h3{padding-right: 40%;}